services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    env_file:
      - ./backend/.env
    environment:
      - ENVIRONMENT=development
    ports:
      - "8000:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    volumes:
      - ./backend:/app
    # Evitar que el venv local interfiera con el del contenedor
    # y asegurar que la DB persista si es sqlite
    # - backend_data:/app/data 

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react-frontend
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # Evitar sobreescribir node_modules del contenedor con el local
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
